.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 100%;
}

.header > img {
  width: 30vw;
  margin-bottom: 2em;
}

.container {
  padding: 1em 10%;
}
